.container {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.divMain {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    overflow: hidden;
}

.main {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}