.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.actionBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.actionTableCell {
    display: flex;
    gap: .5rem;
}